.Container {
	height: 100vh;
}

.heading {
	font-weight: bold;
	font-size: 450%;
}

.greetingBox {
	margin-top: 10%;
	margin-left: 2%;
	animation: greetingBox 3s ease-out;
}

.greetingText {
	font-size: 200%;
}

@keyframes greetingBox {
	0% {
		transform: translateX(-80%);
	}

	100% {
		transform: translateX(0%);
	}
}
