.repoName {
	cursor: pointer;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-weight: bold;
	background: rgba(0, 117, 251, 0.2);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 30px;
	margin-top: 3px;
	margin-bottom: 2px;
}

.repoName:hover {
	background: rgba(0, 100, 200, 0.5);
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 110%;
	transition: all 0.2s ease;
}

.reponame:active {
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 100%;
	transition: all 0.2s ease;
}

.gitListTitle {
	width: 100%;
	font-weight: bolder;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: rgba(0, 117, 255, 0.6);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 30px;
	border-bottom: 1px solid grey;
	margin-bottom: 4px;
}

.repoList {
	margin-top: 5%;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 20%;
	margin-right: 20%;
	border: 1px solid grey;
	border-radius: 30px;
	animation: repoList 1.5s ease-out;
	padding-top: 2px;
	padding-left: 0.5%;
	padding-right: 0.5%;
	padding-bottom: 0.5%;
}

@keyframes repoList {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

.List {
	width: 100%;
	height: 60vh;
	text-align: justify;
	overflow-y: auto;
}

.List::-webkit-scrollbar {
	width: 0 !important;
}
